.navbar {
    text-align: left;
    background-color: var(--dark-color);
    height: 10vh;
    display: grid;
    grid-template-columns: 20% 15% 15% 17% 15% 20%;
    grid-auto-rows: 100%;
    grid-column-gap: 3%;
    box-shadow: 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    position: sticky;
    top: 0;
}

.item a {
    text-align: center;
    font-size: 110%;
    font-weight: 500;
    text-decoration: none;
    transition: 0.2s;
}

.item a:hover {
    color: var(--contrast-color);
    display: inline;
}

.title {
    margin-top: 5%;
    margin-left: 15%;
    transition: 0.5s;
    text-align: center;
}

.title a {
    display: flex;
    flex-direction: row;
    text-decoration: none;
}

.title:hover {
    transform: scale(1.05);
}

.title p {
    padding-right: 2%;
    font-size: 280%;
    font-weight: 800;
    color: var(--contrast-color);
}

.title img {
    padding-top: 15%;
    width: 15%;
    height: 15%;
}

.navbar .default {
    color: white;
}

.actives {
    text-align: center;
    font-size: 110%;
    font-weight: 500;
    text-decoration: none;
    transition: 0.2s;
    color: var(--contrast-color);
}
